<p id="notice"><%= notice %></p>

<h1>Listing Test Data</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_data.each do |test_datum| %>
      <tr>
        <td><%= test_datum.name %></td>
        <td><%= test_datum.rank %></td>
        <td><%= link_to 'Show', test_datum %></td>
        <td><%= link_to 'Edit', edit_test_datum_path(test_datum) %></td>
        <td><%= link_to 'Destroy', test_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test datum', new_test_datum_path %>
